<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Metadata APP is a project to strengthen knowledge for the 
  course of Topicos espaciales en telemática, n which you can 
  create post metadata of images and you can share it with other
   users of the application.
</p>