<footer class="footer">
  <small>
    Tópicos especiales en telemática
    by <a href="">Andrés Sánchez Alzate</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>